terraform.lock.hcl
 FETCH_HEAD
terra-key
terra-key.pub
terraform.tfstate.1761439578.backup
variables.tf
terraform.tfstate.1761443077.backup
terraform.tfstate.backup
terraform.tfstate
.terraform.lock.hcl
.terraform/
FETCH_HEAD